@model HelperViewModel



<li class="mt">
<div class="dropdown">
  <i style = "color:white;"  class="fa fa-search"></i><button 
                                style = "color:white; width:150px; text-align:left; border: none; background:none; 
                                font-weight: bold;" class="dropbtn">Boards & Commissions</button>
  <div class="dropdown-content">
 
   @{
           @foreach(var data in Model.MBoardsandCommissions){
            {
                 @using (Html.BeginForm("SortByBoardNotAppointed", "Home", FormMethod.Get))
                 {
                    <input hidden type="text" id ="board" name = "board" style = "color:grey;" value = "@data.BoardOrCommissionName">
                    <input type = "submit" class = "btn"  value = "@data.BoardOrCommissionName" style = "color:grey; height:50px; width:162px; text-align:left; white-space: initial; " >
                 }
            }
                                                            }
   }
  
  </div>
</div>
  </i>
</li> 

<link rel="stylesheet" type="text/css" href="~/css/dropdown.css">


