@{
    ViewData["Title"] = "Home Page";
}

<header>
    <a><img src="/Images/Banner.JPEG" align="middle" width="1070" height="250" /></a>
</header>


<div class="text-center">
    <h1 class="display-4">Welcome Administrator!</h1>

</div>